* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eff8fe;
}

#characters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 2fr));
    gap: 2rem;
    margin-top: 50px;
}

.character-card {
    display: flex;
    flex-direction: column;
    background-color: #fefeff;
    border: 1px solid rgba(0,0,0,0.06);
    border-radius: 12px;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: transform 0.25s ease; box-shadow: 0.25s ease;
}

.character-card:hover {
    cursor: pointer;
    transform: scale(1.03);     
    box-shadow: 0 10px 25px rgba(0,0,0,0.15); 
}

.character-img  {
    width: 100% !important;
    height: 300px !important;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.75rem;
}

.character-name {
    font-weight: 700;           
    margin-bottom: 0.25rem;
}

.character-occupation {
    font-weight: 500;           
    margin-bottom: 0.5rem;
}

.div-status-age {
    display: flex;              
    gap: 10rem;
    margin-top: 0.625rem;
    margin-bottom: 0.5rem;
}

.character-age,
.character-status {
    font-weight: 400;           
}

.character-phrase {
    font-weight: 300;           
    color: #6b7280;           
    font-style: italic;
}
